# Compiled binaries
bin/
*.class

# Profiling snapshots and heap dumps
*.jfr
*.hprof
*.jps
*.analysis/
flamegraph.html
async_*.txt
*.hlog
*.hgrm
hiccup*

# macOS / OS files
.DS_Store

# IDE configuration
.idea/
*.iml
.vscode/
